src/main/app/api-imowebcom.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
    <http:listener-config name="api-imowebcom-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="api-imowebcom-config" raml="api-imowebcom.raml" consoleEnabled="false" doc:name="Router"/>
    <db:mysql-config name="MySQL_Configuration" host="${mysql.host}" port="${mysql.port}" user="${mysql.user}" password="${mysql.password}" database="${mysql.database}" doc:name="MySQL Configuration"/>
    <context:property-placeholder location="commons.properties,${mule.env}.properties"/>
    <flow name="api-imowebcom-main">
        <http:listener config-ref="api-imowebcom-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="api-imowebcom-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-imowebcom-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="api-imowebcom-console">
        <http:listener config-ref="api-imowebcom-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="api-imowebcom-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="put:/houses/{houseId}:application/json:api-imowebcom-config">
        <db:update config-ref="MySQL_Configuration" doc:name="Atualizar Casa">
            <db:parameterized-query><![CDATA[UPDATE houses SET street = #[json:/street], number = #[json:/number], complement = #[json:/complement], neighborhood = #[json:/neighborhood], city = #[json:/city], state = #[json:/state], country = #[json:/country], title = #[json:/title], description = #[json:/description], phone = #[json:/phone], price = #[json:/price] WHERE id = #[flowVars.houseId]]]></db:parameterized-query>
        </db:update>
        <set-property propertyName="ETag" value="#[function:uuid]" doc:name="Set ETag"/>

    </flow>
    <flow name="delete:/houses/{houseId}:api-imowebcom-config">
        <db:delete config-ref="MySQL_Configuration" doc:name="Remover Casa">
            <db:parameterized-query><![CDATA[DELETE FROM houses WHERE id = #[flowVars.houseId]]]></db:parameterized-query>
        </db:delete>
        <validation:is-true message="Casa n&#227;o encontrada" exceptionClass="org.mule.module.apikit.exception.NotFoundException" expression="#[payload != false]" doc:name="Validar Exclus&#227;o"/>

    </flow>
    <flow name="get:/houses:api-imowebcom-config">
        <db:select config-ref="MySQL_Configuration" doc:name="Listar Casas">
            <db:parameterized-query><![CDATA[SELECT * FROM houses]]></db:parameterized-query>
        </db:select>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <set-payload value="{&quot;houses&quot;: #[payload]}" doc:name="Set Payload"/>

    </flow>
    <flow name="get:/houses/{houseId}:api-imowebcom-config">
        <db:select config-ref="MySQL_Configuration" doc:name="Obter Casa">
            <db:parameterized-query><![CDATA[SELECT * FROM houses WHERE id = #[flowVars.houseId]]]></db:parameterized-query>
        </db:select>
        <validation:validate-size message="Casa n&#227;o encontrada" exceptionClass="org.mule.module.apikit.exception.NotFoundException" value="#[payload]" min="1" doc:name="Validar Casa"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/houses:application/json:api-imowebcom-config">
        <db:insert config-ref="MySQL_Configuration" autoGeneratedKeys="true" doc:name="Adicionar Casa">
            <db:parameterized-query><![CDATA[INSERT INTO houses (street, number, complement, neighborhood, city, state, country, title, description, phone, price) VALUES (#[json:/street], #[json:/number], #[json:/complement], #[json:/neighborhood], #[json:/city], #[json:/state], #[json:/country], #[json:/title], #[json:/description], #[json:/phone], #[json:/price])]]></db:parameterized-query>
        </db:insert>
        <set-property propertyName="Location" value="http://localhost:${http.port}/api/houses/#[payload.get(0).get(&quot;GENERATED_KEY&quot;)]" doc:name="Set Header"/>

    </flow>
    <apikit:mapping-exception-strategy name="api-imowebcom-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload  doc:name="Set Payload" value="{
  &quot;code&quot; : 7002,
  &quot;message&quot; : &quot;#[exception.getMessage()]&quot;,
  &quot;description&quot; : &quot;Aqui v&#227;o os detalhes do erro&quot;
}"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{
  &quot;code&quot; : 7000,
  &quot;message&quot; : &quot;Par&#226;metros de entrada inv&#225;lidos&quot;,
  &quot;description&quot; : &quot;Aqui v&#227;o os detalhes do erro&quot;
}" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
